<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Cloudiby is an online storage service which allows you store files and documents for free on our server.">
  <meta name="author" content="">

  <title>Cloudiby - Save and store personal documents</title>
  <link rel="icon" href="https://cloudibystatic.netlify.app/logo.jpg" sizes="16x16">
<meta property="og:title" content="Cloudiby - Save and store personal documents" />
<meta property="og:description" content="Cloudiby is an online storage service which allows you store files and documents for free on our server." />
<meta property="og:image" content="https://cloudibystatic.netlify.app/logo.jpg" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- Bootstrap core CSS -->
  <link href="https://cloudibystatic.netlify.app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://cloudibystatic.netlify.app/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cloudibystatic.netlify.app/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="https://cloudibystatic.netlify.app/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="https://cloudibystatic.netlify.app/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> <i class="fas fa-cloud"></i> &nbsp; Cloudiby</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #dddddd; color: #222222;">
        
        Start now
    </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
          	<h1 style="font-weight: 600; text-align: left">Save. Share. Smile.</h1>
            <h3 class="mb-5" style="text-align: left">The safest place to store your documents is Cloudiby.</h3>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger" style="font-weight: 900; background-color: #455A64; border:1px solid  #455A64;">Start Now for Free &nbsp;&nbsp;&nbsp; <i class="fas fa-arrow-right"></i> </a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
          	<center>
               <i class="fas fa-cloud" style="font-size: 150px"></i>
           </center>    
          </div>
        </div>
      </div>
    </div>
  </header>




  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Unlimited Features, Unlimited Fun</h2>
        <p class="text-muted">Check out what Cloudiby can do!</p>
      </div>

	 <div class="row mb-5">
        <div class="col-lg-6 my-auto">
	    	<div>
	         <img src="https://cloudibystatic.netlify.app/img/landing1.png" alt="" style="width: 100%;"></a>
	     </div>
        </div>
        <div class="col-lg-6 my-auto">
          <div class="container-fluid">
	         <h4 style="color: #37474F; font-weight: 700;">Save up to 5,000 files for free</h4>
	         <p class="text-muted">
	Make your cloud storage feel like a physical hard drive with our revolutionary drive mounting software.

Access, manage and update your cloud storage as if it were attached to your computer - But without taking up any space!



           </p>
          </div>
        </div>
      </div>
<br><br>
       <div class="row mb-5">
        <div class="col-lg-6 my-auto">

        	<div class="container-fluid">
	         <h4 style="color: #37474F; font-weight: 700;">Share documents with others</h4>
	         <p class="text-muted">
	Share folders and files immediately after they upload. MediaFire makes it easy to share through email, on your website, social media, messenger, or anywhere with a link.


           </p>
          </div>
	    	
        </div>
        <div class="col-lg-6 my-auto">
          <div>
	         <img src="https://cloudibystatic.netlify.app/img/landing1.png" alt="" style="width: 100%;"></a>
	     </div>
        </div>
      </div>

<br><br><br><br><br><br>

      <div class="row">
       
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
          	 <div class="section-heading text-center">
        <h2>Why use cloudiby?</h2>
        <p class="text-muted">Check out what you can do with this app theme!</p>
        <hr>
      </div>
            <div class="row">
            	
              <div class="col-lg-3">
                <div class="feature-item">
                  <i class="far fa-check-circle"></i>
                  <h3>30GB free</h3>
                  <p class="text-muted">We allow up to 30 Gb storage free</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="feature-item">
                  <i class="far fa-check-circle"></i>
                  <h3>Flexible Use</h3>
                  <p class="text-muted">Customize to your own stye</p>
                </div>
              </div>
            
              <div class="col-lg-3">
                <div class="feature-item">
                  <i class="far fa-check-circle"></i>
                  <h3>Simple to Use</h3>
                  <p class="text-muted">We try as much as possilble for you to understand our system without prior knowledge!</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="feature-item">
                  <i class="far fa-check-circle"></i>
                  <h3>Open Source</h3>
                  <p class="text-muted">We are a tech company and we are open to developers to better our community !</p>
                </div>
              </div>
            </div>
<br><br><br>
<center>
		<div class="badges" style="max-width: 300px">
		<div class="container-fluid">
		<div class="row">
		<div class="col-6">
		<a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
		</div>
		<div class="col-6">
		<a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
		</div>
		</div>
		</div>
		</div>

</center>
          </div>
        </div>
      </div>
    </div>
  </section>


 
  <footer>
    <div class="container">
      <p>&copy;<script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Entrepeneur Minds</a>
        </li>
       
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cloudibystatic.netlify.app/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloudibystatic.netlify.app/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cloudibystatic.netlify.app/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://cloudibystatic.netlify.app/js/new-age.min.js"></script>

</body>

</html>
